@charset "UTF-8";

/* other devices */
@charset "UTF-8";

@media only screen and (min-width: 601px) {
    /*register and login*/

    body{
        width: 30vw;
    }

    .list {
        width: 600px;
        margin-top: 20px;   
    }
    
    li {
        margin: 0 auto;
        width: 500px;
    }

    .section_login{
        margin: 0;
    }
    .section_login input,.section_register{
        width: 40vw;
    }
}