@charset "UTF-8";

/* mobile first */
*{
    margin: 0px;
    padding: 0px;
    font-family: poppins,sans-serif;
    box-sizing: border-box;/* inclui a borda no cálculo do tamanho*/
    font-size: 1em;
}


html,body{
    min-height: 100vh;
}
body{
    display: flex;
    flex-direction: column;    
    flex-grow: 1;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
h1{
    font-size: 2em;
    margin-bottom: 20%;
    
}

/*home*/
.section_home{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 50vh;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(48, 95, 79);
}

.container-home{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}
h3{font-size: 1.3em;}

.todo_container_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.btn_add{
    margin-left: 10px;
    cursor: pointer;    
    font-size:2rem;
    color: white;
    /* border: 2px solid greenyellow;
    border-radius: 50%; */
}

.list{
background-color: bisque;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100vw;
    margin-top: 20px;
    border-bottom: 5vh solid bisque;
    border-top: 5vh solid bisque;

}

li{
    display:flex;
    justify-content: space-between;
    grid-template-rows: auto;
    column-gap: .8rem;
    margin:0 auto;
    padding:.8rem .5rem;
    width: 80vw;
    border-radius:3px;
    box-shadow: 2px 2px 8px rgba(77, 77, 77, .5);
    position:relative;

}

.backContainerEdit{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.656);
    width: 100vw;
    height: 100vh;
}
.containerEdit{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    height: 8%;
    position: relative;
    top: 50%;
    left: 5px;
}

.containerEdit input{
    padding: 10px;
}

.containerCancelBtn,.containerEditBtn{
    cursor:pointer;
    width: 120px;
    font-weight: bold;
    background-color: darkgray;
    border: 2px solid white;
    color: white;
}

.containerCancelBtn:hover{
    background-color: rgb(134, 0, 0);
}
.containerEditBtn:hover{
    background-color: rgb(0, 78, 0);
}

li p{
    width: 50%;
    word-break: break-all;
}

.fa-check.displayNone{
    display:none;

}

.fa-edit{
    margin-right: 10px;
}
.fa-edit,
.fa-trash-alt{
    cursor: pointer;    
    font-size:1.5rem;
}


.fa-trash-alt {
    color: rgb(134, 134, 134);
}

.fa-edit {
    color:#000000;
}



.fa-edit:active,
.fa-trash-alt:active {
    transform:scale(1,1);
    outline:none;
    border:none;
}

.button-check{
    align-self:center;
    justify-self: center;
    width:25px;
    height:1.5rem;
    border-radius:.2rem;
    border:2px solid #000000;
    position:relative;
    outline:transparent;
}

/*register and login*/

.section_register,.section_login{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 50vh;
    justify-content: center;
    flex-grow: 1;
}

.container-options{
    text-align: center;
    display: flex;  
    align-items: center;
}

.container h2{font-size: 1.5em;}

.container-options p{margin: 0 10px;}

.container-options a,.container-home a{
    color: black;
    cursor: pointer;
}

.section_register label,.section_login label{margin: 10px 0px;}
input{border-color: #323232c5;}

.section_register button,.section_login button,.btn_enter{
    margin-top: 20px;
    cursor:pointer;
    width: 100px;
    font-weight: bold;
    background-color: transparent;
}


.btn_enter{
    text-align: center;
    color:black;
    border: 1px solid black;
}
.link_logout{
    cursor:pointer;
    font-weight: bold;
    color:black;
    
}



footer{
width: 100vw;background-color: #ccc;
text-align: center;
padding: 10px 0;
font-size: 15px;}